.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/typescript
!node_modules/prettier
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
jest.config.js
CONTRIBUTIONS.md
example/**
*.gif
.github/**
.prettierignore
.swcrc
